<h1 class="alert">
    <a class="header-link" href="https://nodejs.org">node.js</a> <i class="fas fa-times"></i>
    <a class="header-link" href="https://restfulapi.net/">Restful API</a> <i class="fas fa-times"></i>
    <a class="header-link" href="https://api.jquery.com/jquery.ajax/" >AJAX</a> Demo
</h1>
<%- include('./navbar'); %>