<h1 class="alert">
    <a class="header-link" href="https://nodejs.org" target="_blank">node.js</a> <i class="fas fa-times"></i>
    <a class="header-link" href="https://restfulapi.net/" target="_blank">Restful API</a> <i class="fas fa-times"></i>
    <a class="header-link" href="https://api.jquery.com/jquery.ajax/" target="_blank">AJAX</a> Demo
</h1>
<%- include('./navbar'); %>