<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main>
        <section class="jumbotron">
            <h1>Node.js | CRUD demo</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatem adipisci quod numquam pariatur architecto, ipsum provident voluptate eligendi. Labore in laboriosam harum dicta ad sequi tempora assumenda quas sit reprehenderit officia ducimus, deserunt voluptatibus libero adipisci dignissimos quidem laborum quibusdam. Unde ipsam repellendus molestias aut temporibus esse aliquam saepe ducimus totam voluptate vel, dignissimos quod beatae aspernatur. Sunt, saepe minima! Ullam velit tenetur sapiente adipisci neque nostrum esse expedita numquam provident doloribus reiciendis, consequuntur nihil dolorem quaerat explicabo omnis aut quod rem maiores? Eius laboriosam laudantium iste! Vel vitae maxime sit blanditiis quidem iure asperiores dolorum pariatur totam quaerat ducimus ullam adipisci consequuntur, eligendi eos. Illo officia maxime expedita, eaque iusto qui minima cupiditate fuga a ullam magni porro nulla assumenda atque reiciendis repudiandae distinctio id obcaecati, exercitationem esse dolorum accusamus. Laborum nobis aperiam reprehenderit iusto veritatis perspiciatis deleniti, quod inventore similique aliquam quas temporibus libero assumenda quibusdam eveniet facilis rem! Quam adipisci, aperiam fugit molestias molestiae sequi est quasi quaerat totam tenetur dolore asperiores nisi. Vero assumenda nulla quasi doloribus perferendis officiis repellat, laboriosam consectetur, optio nemo fuga doloremque nisi maiores magnam veritatis animi voluptatem possimus alias. Vitae architecto, accusamus qui voluptas perferendis error assumenda fugit ex accusantium?</p>
        </section>
    </main>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>
</html>